
	#caja_1{
		width:300px;
		color:white;
		background-color:red;
	}
	#caja_2{
		width:150px;
		background-color:gray;
	}
	#caja_3{
		width:500px;
		background-color:green;
	}
	footer{
		margin-top:20px;
		text-align:center;
		padding-top:20px;
		border-radius:12px;
		width:350px;
		height:180px;
		background-color:gray;
	}

